<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Товары</title>
    </head>
    <body>
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Сategory</th>
                <th>PriceOrigin</th> 
                <th>PriceDiscount</th>
                <th>Discount</th>
                <th>ProductOfDay</th>
                
            </thead>
            {{range . }}
            <tr>
                <td>{{.Model.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Description}}</td>
                <td>{{.Сategory}}</td>
                <td>{{.PriceOrigin}}</td>
                <td>{{.PriceDiscount}}</td>
                <td>{{.Discount}}</td>
                <td>{{.ProductOfDay}}</td>
            </tr>
        {{end}}
        </table>
    </body>
</html>